.container-fluid {
	color: #ff8c00;
	background-color: #282828;
	height: 100vh;
}

.tramnr, .wartezeit {
	text-align: right;
}

.tramnr, .endhaltestelle, .wartezeit {
	font-size: 5rem;
	font-weight: bolder;
}

.time-banner {
	color: white;
}

.container-fluid.row {
	margin: 0 auto;
	float: none;
}

@keyframes bus {
	10% {
		transform: translate3d(-1px, 0, -3px) scale(1.0);
	}

	20% {
		transform: translate3d(2px, 0, 0) scale(1.05);
	}

	40%{
		transform: translate3d(4px, 0, 0) scale(1.1);
	}
	60% {
		transform: translate3d(4px, 0, 0) scale(1.15);
	}
	80% {
		transform: translate3d(2px, 0, 0) scale(1.2);
	}
	90% {
		transform: translate3d(-1px, 0, -3px) scale(1.25);
	}
	100% {
		transform: translate3d(-1px, 0, -3px) scale(1.3);
	}
}

.icon-bus3 {
	font-size: 5rem;
	animation: bus 3s infinite;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: white;
}

